.access-management__dropdown-footer {
  display: flex;
  flex-direction: column;
  gap: $spv--small;
  width: 100%;

  .email-help-text {
    margin: 0 0 $spv--small $spv--x-large;
  }

  .p-icon--plus {
    margin-right: $spv--small;
  }
}

.access-management {
  .multi-select__input {
    margin-bottom: 0;
    margin-top: $spv--medium;
  }

  .access-management__user-col {
    flex: 1 1 auto;
    min-width: 0;
  }

  .access-management__access-col {
    flex: 1 0 0;
    max-width: 22rem;
    min-width: 22rem;
  }

  .user-row:last-child {
    border-bottom: 1px solid $colors--theme--border-low-contrast;
  }
}
